<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
         不要key的情况
         <br>
         用户名：<input v-if='flag' />
         邮箱：  <input v-else-if>
         <hr>
         <hr>
         加key的情况：
         <br>
         用户名： <input v-if='flag' key="username" />
         邮箱： <input v-else-if key="useremail" />
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                flag:true
            },
            mounted() {
                this.change()
            },
            methods: {
                change(){
                    setTimeout(()=>{
                        this.flag=false
                    },1000)
                }
            },
        })
    </script>
</body>
</html>